@CHARSET "UTF-8";
.header-class
{
	text-align: center;
    font-size: 30px;
    font-family: '微软雅黑';
    margin-top: 100px;
    margin-bottom: 70px;
}

.divLoginCls
{
	margin-left:5%;
	margin-right:5%;
}

.topGap
{
	margin-top:30px;
}

.el-button--primary {
    background: #409EFF;
    border-color: #409EFF;
}

.fontStyle
{
	font-size:24px;
	font-family:'微软雅黑';
}

.el-input__inner
{
	border-radius:40px;
	height:80px;
	font-size:24px;
	font-famliy:'微软雅黑';
	padding-left:3%;
}

.divLoginCls .loginBtnStyle
{
	border-radius:40px;
	width:100%;
	height:80px;
	font-size:24px;
	font-family:'微软雅黑';
}

.divLoginCls .col-gap
{
	padding-left:10px;
}

.divLoginCls .gap
{
	margin-top:40px;
}

.el-form-item.is-required .el-form-item__label:before
{
	display:none;
}

.el-form-item__label{
	font-size:24px;
	font-family:'微软雅黑';
	margin-left:15px;	
}

.divLoginCls .center
{
    text-align:center;	
}

.el-form-item__error
{
	font-size:24px;
	font-family:'微软雅黑';
	left:10px;
}